<%= form_for 'search', url: pictures_search_path do %>
    <div class="form-group">
      <label for="exampleInputEmail1">Filter</label>
      <input type="text" class="form-control" name="query" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type here..">
      <small id="emailHelp" class="form-text text-muted">Search here.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <%end%>