<p style="color: green"><%= notice %></p>

<div id="pictures">
<div class="container">
        <div class="row">

  <% @pictures.each do |picture| %>
    <%= render picture %>
  <% end %>
</div>
</div>

    
</div>

<%= link_to "New picture", new_picture_path %>
