
 .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center!important;
 }
 body {
   background-image: url('/assets/background-image.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 }
 .fa {
   cursor: pointer;
   user-select:none ;
 }
 
 .fa:hover {
   opacity: 0.5;
 }

.c { position: relative; }
.c img { display: block; }
.c .fa-refresh { position: absolute; top:5px; right:5px; }
.c .fa-refresh:hover { 
  color: white;
 }